<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeoStored</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <script src="https://kit.fontawesome.com/5bad72963f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Rubik+Scribble&display=swap" rel="hoja de estilo">

</head>
<body>
    <header class="header">
        <div class="ubicacion">
            <div>
                <i class="fa-solid fa-location-dot"></i>
            </div>
            <div>
                <p>Madrid, España</p>
            </div> 
        </div>          
        <div class="contenedor-logo">
            <div class="logo">
            <h1>Leo<span>Shop</span></h1>
            </div>
            <div class="usuario-carrito" >
                <div>
                    <i class="fa-solid fa-cart-shopping"></i>    
                </div>
                <div>
                    <i class="fa-regular fa-user"></i>
                </div>    
            </div>
        </div>
        </div> 
    </header>   <!-- fin del Header -->
    <!-- Barra dde Navegacion -->
        <nav>
            <ul class="navegacion">
                <li><a href="/">Home </a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>  
    
    <main class="contenido">

        
        
            
    </main> 

    <div class="contenedor">
        <div class="productos-descripcion">
            <img class="contenido_imagen" src="/imagenes/img01.jpg" alt="Harina Pan">
            <h3>Harina PAN</h3>
            <p>Harina de Maiz Precocida</p>
            <strong>&euro;9.99</strong>
        </div>
        <div class="productos-descripcion">
            <img class="contenido_imagen" src="/imagenes/img03.jpg" alt="Diablitos Underwood">
            <h3>Diablitos Underwood</h3>
            <p>Jomon Endiablado</p>
            <strong>&euro;9.99</strong>
        </div>
        <div class="productos-descripcion">
            <img class="contenido_imagen" src="/imagenes/img05.jpg" alt="Cheez Whizz">
            <h3>Cheez Whizz</h3>
            <p>Queso Americano Fundido</p>
            <strong>&euro;9.99</strong>
        </div>
        <div class="productos-descripcion">
            <img class="contenido_imagen" src="/imagenes/img08.jpeg" alt="Pirulin de Coco">
            <h3>Mayonesa Kraff</h3>
            <p>Salsa Emulsionada </p>
            <strong>&euro;9.99</strong>
        </div>
    </div>

    

    <footer class="footer" >

        <div class="redesSociales">
            <div>
                <i class="fa-brands fa-facebook"></i>
            </div>
            <div>
                <i class="fa-brands fa-square-instagram"></i>
            </div>
            <div>
                <i class="fa-brands fa-whatsapp"></i>
            </div>
            <div>
                <i class="fa-solid fa-envelope"></i>
            </div>
            <div>
                <i class="fi fi-rs-paper-plane"></i>
            </div>
        </div>
        <div>&copy; 2024 LeoStored | Todos los derechos reservados</div> 
    </footer>

    
</body>
</html>