 /*Formato Generales del sitio*/
 
body{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --gris: #737373;
    --fondo-barra: #1b64c4;
    --texto-barra: #111110;
    --Comprar: #D2E117;
    --fondo-redes: #535450;
    --boton-hover: #05206b;
    --blanco: #dadada;
    --negro: #000000;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.header {
    /*position: fixed;*/
    width: 100%;
    display:inline-block;
    text-align: center;
    background-color: var(--fondo-barra);
    height: 10rem;
}

.ubicacion{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ubicacion i {
    align-items: center;
    padding: 1rem;
    color: var(--blanco);
    font-size: 3rem;
}

.ubicacion p {
    color: var(--blanco);
    font-size: 1.5rem;
}

.contenedor-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Rubik Scribble";
    font-weight: 700;
    font-style: italic;
    margin-left: 3rem;
}
.logo h1 {
    display: flex;
    font-size: 4rem;
    font-weight: bold;
    color: var(--blanco);
    margin: 0;
}

span{
    font-weight:  bold;
    color: rgb(36, 221, 19);   
}
.usuario-carrito {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.fa-cart-shopping{
    cursor: pointer;
    color: var(--blanco);
    transition: all .3s ease;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.fa-user{
    cursor: pointer;
    color: var(--blanco);
    transition: all .3s ease;
    margin-right: 2rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.navegacion {
    display: flex;
    justify-content: space-around;
    background-color: var(--fondo-barra);
    padding: 0.5rem ;
    width: 100%;
}
.navegacion li {
    list-style: none;
    margin: 0 1rem;
}

.navegacion  a {
    text-decoration: none;
    font-size: 1.8rem;  
    color: var(--blanco);
    font-weight: bold;
    padding: 2rem;
}

.navegacion a:hover{
    padding: 0.5rem;
    font-size: 1.5;
    color: var(--boton-hover);
    font-size: 2rem;
}

main {
    padding: 2rem;
    text-align: center;
    max-width: 100%;
}



h1 {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-weight: bold;
    color: #333;
}

/* Estilo del contenedor de productos */
.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 5rem;
    align-items: center;
}

.contenedor-productos ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

Estilo para cada producto 
.producto {
    flex: 1  calc(20% - 2rem);
    margin: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.8rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.2s;
}

.producto:hover {
    transform: scale(1.05);
}

.producto-contenido {
    padding: 1.5rem;
    text-align: center;
}

.producto-imagen {
    width: 20rem;
    height: 20rem;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1.5rem;
}

.producto-nombre {
    font-size: 1.5rem;
    color: #333;
    margin: 1rem 0;
}

.producto-descripcion {
    color: #666;
    font-size: 1rem;
    margin: 1rem 0;
}

.producto-precio {
    color: #e60000;
    font-size: 1.2rem;
    margin: 1rem 0;
}

.producto-formulario {
    display: inline-block;
    margin-top: 1rem;
}

/* Estilo del botón */
.boton {
    background-color: var(--fondo-barra);
    color:var(--blanco);
    font-weight: bold;
    border: none;
    width: 6.8rem;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin:0.5rem 0.2rem;
    cursor: pointer;
    border-radius: 0.2rem;
    transition: background-color 0.2s;
} 

.boton:hover {
    background-color: #cc0000;
}

.recetas {
    border-top: solid 0.2rem #666;
    flex: 1;
    padding: 2rem;
    text-align: center;
  }
  
  .titulo-recetas {
    font-size: 3rem;
    font-weight: bold;
    color:var(--texto-barra);
    margin: 1rem 0;
  }
  
  .contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  .contenido-receta {
    flex: 1;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 0.8rem;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffff;
  }
  
  .contenido-receta img {
    width: 100%;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
  }
  
  .contenido-receta p {
    font-size: 1.3rem;
    line-height: 1.2;
  }

    
.footer {
    background-color: var(--fondo-barra);
    position: relative;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #f8f8f8;
}
.redesSociales {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    flex-direction: row;
    gap: 3rem;
    padding: 2rem ;

}

.fa-facebook {
    color: rgb(218, 219, 221);
    font-size: 2rem;
}

.fa-square-instagram {
    color:rgb(231, 33, 139);
    font-size: 2rem;
}
.fa-whatsapp {
    font-size: 2rem;
    color: rgb(0, 252, 42);
}
.fa-envelope {
    font-size: 2rem;
    color: rgb(196, 224, 35);
}

/**********Medias Query*************/

 /*@media (min-width:220px ) { 
    .contenedor {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center ;
        margin: 5rem;
        padding: 2rem;
        }
        .navegacion  a {
            font-size: 1.8rem;
            color:var(--blanco);
        }
        .navegacion a:hover{
            padding: 0.3rem;
            font-size: 1.5rem;
        }
    }
    /*.producto {
        flex: 1 1 calc(25% - 2rem);
        margin: 1rem;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 0.8rem;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        overflow: hidden;
        transition: transform 0.2s;
    }
    .producto-imagen {
        width: 100%;
        height: auto;
        border-bottom: 1px solid #ddd;
        margin-bottom: 1.5rem;
    }
    .contenedor-productos {
        display: flex;
        flex-wrap: nowrap;
        gap: 2rem;
        margin-top: 5rem;
        flex-direction: row;
    }  
    .contenedor-productos ul {
        display: flex;
        flex-wrap: nowrap;
        list-style: none;
        padding: 0;
         
}

@media (max-width:515px){
    .producto {
        flex: 1 1 calc(30% - 2rem);
        margin: 1rem;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 0.8rem;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        overflow: hidden;
        transition: transform 0.2s;
    }
    .producto-imagen {
        width: 100%rem;
        height: auto;
        border-bottom: 1px solid #ddd;
        margin-bottom: 1.5rem;
    } */
    /* .contenedor-productos {
        display: flex;
        flex-wrap: nowrap;
        gap: 2rem;
        margin-top: 5rem;
    }
    .contenedor-productos ul {
        display: flex;
        flex-wrap: nowrap;
        list-style: none;
        padding: 0; */


 /*@media (min-width:768px){
    .producto {
        flex: 1 1 calc(25% - 2rem);
        margin: 1rem;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 0.8rem;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        overflow: hidden;
        transition: transform 0.2s;
    }
    .producto-imagen {
        width: 20rem;
        height: 20rem;
        border-bottom: 1px solid #ddd;
        margin-bottom: 1.5rem;
    }  
}  